<!DOCTYPE html>
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <title>Список нотаток</title>
</head>
<body>

<h1>Список нотаток</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Зміст</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.id}">1</td>
        <td th:text="${note.title}">Назва нотатки</td>
        <td th:text="${note.content}">Зміст нотатки</td>
        <td>
            <a th:href="@{/note/edit/{id}(id=${note.id})}">Редагувати</a>
            <form method="post" th:action="@{/note/delete/{id}(id=${note.id})}">
                <button type="submit">Видалити</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/note/create">Створити нову нотатку</a>

</body>
</html>
